body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    height: 10vh;
    text-align: center;
    background-color: indigo;
    color: goldenrod;
    font-size: 2em;
}